<html>
<body>
<div>
  <p>Bonjour, bienvenu dans la communauté Angular <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="logo Angular" style="width: 3%; height: 3%"> !
  Pour avoir accès à notre page, veuillez vous connecter si vous avez un compte, ou alors enregistrez-vous !
  </p>
</div>
<div>
  <h2>Se connecter</h2>
  <button routerLink="/auth/signin">
    <span>Connexion</span>
  </button>
  <h2>S'inscrire</h2>
  <button routerLink="/auth/signup">
    <span>Inscription</span>
  </button>
</div>
</body>
</html>
